<footer class="footer py-3  footer-custom" style="height: 100px; bottom: 0px;">
    <div class="container">
        <span class="text-muted text-center">&copy; Msg It</span>
    </div>
    <div class="text-center text-muted" style="color: white;">
                Creator: Keshav Sharma
</div>
    </footer>