.search{
    
    display: flex;
   border-radius: 3px;
    width: 351px;
    box-shadow: 5px 6px 15px rgb(47, 47, 47);
    position: absolute;
    background-color: white;
}
#search-box{
    width: 100%;
}

.search a{
    font-family: 'Montserrat';
    font-size: 1.2em;
    margin: 15px;
}

hr{
    width: 100%;
}

.searchpost{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid teal;
    font-size: 18px;
    transition: .5s;
    /* background-image: url('https://cdn-icons-png.flaticon.com/512/482/482631.png'); */
    background-size: 40px 40px;
    background-repeat:no-repeat;
    background-size: cover;
}
.sbody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchpostcon{
    /* background-color: pink; */
position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
    margin-bottom: 20px;
   
}

.searchpostcon i img{
    position: absolute;
    top: 50%;
    width: 20px;
    transform: translate(-50%,-50%);
}


.searchposts  {
    text-decoration: none;
    color: black;
  width: 400px;
   border-radius: 2px;
  background-color: rgb(235, 233, 233);
   box-shadow: 5px 6px 15px rgb(81, 81, 81);
}
.searchposts a{
    text-decoration: none;
    color: teal;
    margin: 5px;
font-family: 'Montserrat';
  background-color: rgb(235, 233, 233);
}




.searchpostcon:hover i{
    opacity: 0;
}
.searchpostcon:hover .stext{
  visibility: none;
}




.searchpostcon:hover input{
background: none;
 width: 300px;
 border-radius: 5px;
}

.stext{
   
 display: flex;
align-items: center;
justify-content: center;
}