
.login-container {
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.5em;
    text-align: center;
    font-size: 15px;
    font-family: 'Encode sans';
    width: 500px;
    height: 500px;
}
.register-container{
    margin-top: 45px ;
    padding: 10px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.5em;
    text-align: center;
    font-size: 15px;
    font-family: 'Encode sans';
    width: 500px;
    height: auto;

}

.login-container p, .register-container p {
    margin-top: 20px;
}

.login-body {
    background-image: url('https://images.unsplash.com/photo-1617957848811-9c07f14d7ba3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 200vh; */
}

.register-body {
    background-image: url('https://images.unsplash.com/photo-1521080755838-d2311117f767?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1262&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-container h5, .register-container h5{

    border-bottom: 3px solid teal;
    font-size: 70px;
    font-family: 'Roboto';
    margin-bottom: 30px;
}

.login-container #username,
#password {
    color: teal;
    text-align: center;
    margin: 4px;
    width: 50%;
    border-radius: 0%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #2b6777;
    font-family: 'Roboto';

}

.register-container #username,
#password,
#email, #description {
    color: teal;
    text-align: center;
    margin: 4px;
    width: 100%;
    border-radius: 0%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #2b6777;
    font-family: 'Roboto';

}

.login-container #username:focus,
#password:focus {
    box-shadow: none;
}

.register-container #username:focus,
#password:focus, #email:focus{
    box-shadow: none;
}

.logb , .regb{
    margin-top: 30px;
    width: 80%;
    height: 40px;
    font-size: 20px;
    border-radius: 1.25rem;
    background-color: #2b6777;
    border: none;
    color: white;
}


.like{
    border: none;
    background-color: lightgrey;
}


@media only screen and (max-width: 600px){
    .register-container, .login-container{
        width: 350px;
    }
}