<%-layout('layout/boilerplate') %>

<!-- <% if(locals.currentUser){ %> 
<div id="user-chat-box">
    <ul id="chat-messages-list">
        <li class="other-messages">
            <span>Other Messages</span>
        </li>
        <li class="self-messages">
            <span>Self Messages</span>
        </li>
    </ul>
    <div id="chat-message-input-container">
        <input type="text" placeholder="Type message here" id="chat-message-input">
        <button id="send-message">Send</button>
    </div>
</div>

    <% } %>  -->